## Libraries Installation

In [36]:
# %pip install pandas
# %pip install matplotlib

## Main Section for Code

### Data Cleaning

In [37]:
# importing the csv files in pandas
import pandas as pd  
     
# make monthly data dataframe  
quarterly = pd.read_csv("Quarterly Data.csv")  
quarterly = quarterly.drop([0, 1]).reset_index(drop=True)
quarterly

# list of columns that are of interest
columns_to_keep = [
    'GDPC1', 'PCECC96', 'GPDIC1', 'GCEC1', 'EXPGSC1', 'IMPGSC1', 
    'VIXCLSx', 'S&P 500', 'UMCSENTx', 'CPIAUCSL', 'FEDFUNDS'
]

# create a copy of the subset
quarterly_cleaned = quarterly[columns_to_keep].copy()
quarterly_cleaned

# dictionary mapping old column names to new column names
new_column_names = {
    'GDPC1': 'GDP',
    'PCECC96': 'Real_Consumption',
    'GPDIC1': 'Real_Priv_Investment',
    'GCEC1': 'Government_Expenditure',
    'EXPGSC1': 'Exports',
    'IMPGSC1': 'Imports',
    'VIXCLSx': 'VIX',
    'S&P 500': 'S&P500',
    'UMCSENTx': 'UMC_Sentiment',
    'CPIAUCSL': 'CPI',
    'FEDFUNDS': 'Fed_Funds_Rate'
}

# rename the columns
quarterly_cleaned.rename(columns=new_column_names, inplace=True)
quarterly_cleaned

,GDP,Real_Consumption,Real_Priv_Investment,Government_Expenditure,Exports,Imports,VIX,S&P500,UMC_Sentiment,CPI,Fed_Funds_Rate
0,3352.129,2039.017,354.894,1142.671,89.697,115.440,NaN,55.5167,NaN,28.9933,2.5700
1,3427.667,2070.508,382.500,1156.740,88.981,121.057,NaN,57.5067,95.3,29.0433,3.0833
2,3430.057,2092.138,357.798,1166.589,97.562,122.212,NaN,58.7300,NaN,29.1933,3.5767
3,3439.832,2094.495,369.442,1157.052,92.734,119.109,NaN,57.7633,93.8,29.3700,3.9900
4,3517.181,2114.532,406.581,1137.363,104.686,123.608,NaN,56.2767,100.0,29.3967,3.9333
...,...,...,...,...,...,...,...,...,...,...,...
258,22780.933,15646.695,4237.303,3836.304,2521.467,3460.391,14.9665,4458.1800,69.6,306.0343,5.2600
259,22960.600,15781.367,4244.835,3870.720,2559.591,3496.290,15.2631,4471.5033,64.9,308.0990,5.3300
260,23053.545,15856.867,4282.515,3887.718,2571.763,3548.749,13.6316,4999.3800,78.4,310.9897,5.3300
261,23223.906,15967.266,4369.185,3917.049,2578.386,3614.047,13.9525,5254.2867,71.5,313.1603,5.3300
262,23400.294,16113.035,4377.736,3966.247,2638.199,3707.429,17.0113,5545.8233,68.1,314.1137,5.2633

In [38]:
# calculate real interest rate using the fisher equation

# convert the Fed Funds Rate to decimal
quarterly_cleaned['Nominal_Rate'] = quarterly_cleaned['Fed_Funds_Rate'] / 100

# calculate the annual inflation rate as the percentage change in CPI
quarterly_cleaned['Inflation_Rate'] = quarterly_cleaned['CPI'].pct_change() * 100

# calculate the real interest rate using the Fisher equation
quarterly_cleaned['Real_Interest_Rate'] = (1 + quarterly_cleaned['Nominal_Rate']) / (1 + quarterly_cleaned['Inflation_Rate'] / 100) - 1

# convert the real interest rate to percentage
quarterly_cleaned['Real_Interest_Rate'] *= 100
quarterly_cleaned

,GDP,Real_Consumption,Real_Priv_Investment,Government_Expenditure,Exports,Imports,VIX,S&P500,UMC_Sentiment,CPI,Fed_Funds_Rate,Nominal_Rate,Inflation_Rate,Real_Interest_Rate
0,3352.129,2039.017,354.894,1142.671,89.697,115.440,NaN,55.5167,NaN,28.9933,2.5700,0.025700,NaN,NaN
1,3427.667,2070.508,382.500,1156.740,88.981,121.057,NaN,57.5067,95.3,29.0433,3.0833,0.030833,0.172454,2.905835
2,3430.057,2092.138,357.798,1166.589,97.562,122.212,NaN,58.7300,NaN,29.1933,3.5767,0.035767,0.516470,3.044506
3,3439.832,2094.495,369.442,1157.052,92.734,119.109,NaN,57.7633,93.8,29.3700,3.9900,0.039900,0.605276,3.364360
4,3517.181,2114.532,406.581,1137.363,104.686,123.608,NaN,56.2767,100.0,29.3967,3.9333,0.039333,0.090909,3.838901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,22780.933,15646.695,4237.303,3836.304,2521.467,3460.391,14.9665,4458.1800,69.6,306.0343,5.2600,0.052600,0.846090,4.376878
259,22960.600,15781.367,4244.835,3870.720,2559.591,3496.290,15.2631,4471.5033,64.9,308.0990,5.3300,0.053300,0.674663,4.624140
260,23053.545,15856.867,4282.515,3887.718,2571.763,3548.749,13.6316,4999.3800,78.4,310.9897,5.3300,0.053300,0.938237,4.350940
261,23223.906,15967.266,4369.185,3917.049,2578.386,3614.047,13.9525,5254.2867,71.5,313.1603,5.3300,0.053300,0.697965,4.599929
262,23400.294,16113.035,4377.736,3966.247,2638.199,3707.429,17.0113,5545.8233,68.1,314.1137,5.2633,0.052633,0.304445,4.943804

In [39]:
# create a copy of the subset
columns_to_keep = [
    "GDP", "Real_Consumption", "Real_Priv_Investment", "Government_Expenditure", "Exports", 
    "Imports", "VIX", "S&P500", "UMC_Sentiment", "Fed_Funds_Rate", "Inflation_Rate", "Real_Interest_Rate"
]
quarterly_final = quarterly_cleaned[columns_to_keep].copy()

# rename "Fed_Funds_Rate" column to 'Nominal_Interest_Rate'
quarterly_final.rename(columns={"Fed_Funds_Rate": 'Nominal_Interest_Rate'}, inplace=True)
quarterly_final.to_csv("quarterly_final.csv")